# ----------------------
# Flask
# ----------------------
flask
requests

selenium
webdriver-manager
# ----------------------
# Image processing
# ----------------------
# pillow
# torchvision


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
